In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df_prel = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/prelevements.csv")
df_set = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_evolution_temporelle.csv")
df_sg = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_geographique.csv")
df_ste = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_type_eau.csv")
df_su = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_usage.csv")

In [6]:
df_prel

,Année,Code Sandre de l'ouvrage,Nom de l'ouvrage,Commentaire,Code alternatif de l'ouvrage,Origine du code alternatif,Département,Code INSEE,Commune,Code INSEE déclaré,...,Code entité hydrographique cours d'eau,Code entité hydrographique plan d'eau,Plan d'eau non référencé,Information complémentaire de la ressource en eau,Code BDRHFV1,Libellé entité hydrologique BDRHFV1,Code BDLISA,Libellé entité hydrologique BDLISA,Code de la mer,Libellé de la mer
0,2022,OPR0000041055,Point de prélêvment pour centrale hydroélectri...,NaN,16258_017,AESN,78,78391,MERICOURT,78391,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,OPR0000041057,Point de prélêvement pour centrale hydroélectr...,NaN,16260_017,AESN,77,77463,THOMERY,77463,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,OPR0000041058,Point de prélêvement pour centrale hydroélectr...,NaN,16262_017,AESN,77,77210,GRANDE-PAROISSE,77210,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,OPR0000041056,Point de prélêvement centrale hydroélectrique ...,NaN,16259_017,AESN,77,77096,CHARTRETTES,77096,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,OPR0000032897,Prise d'eau usine Neuilly s/ M haure n8 noisy ...,NaN,3629_017,AESN,93,93051,NOISY-LE-GRAND,93051,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27516,2008,OPR0000635890,Ferme des grains d'or,NaN,64404_018,AESN,91,91223,ETAMPES,91223,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27517,2008,OPR0000634605,MOISENAY,NaN,02583X0098/P_018,AESN,77,77295,MOISENAY,77295,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27518,2008,OPR0000634606,BOISSISE LE ROI,NaN,02585X0247/PZ1_018,AESN,77,77040,BOISSISE-LE-ROI,77040,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27519,2008,OPR0000636303,SNECMA MOTEURS VILLAROCHE NORD,NaN,BSS00419F_018,AESN,77,77296,MOISSY-CRAMAYEL,77296,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27520,2008,OPR0000634607,BOISSISE LE ROI,NaN,02585X0248/PZ2_018,AESN,77,77040,BOISSISE-LE-ROI,77040,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_prel = df_prel.drop(["Code Sandre de l'ouvrage ", "Commentaire", "Nom de l'ouvrage", "Code alternatif de l'ouvrage", "Origine du code alternatif", 'Code INSEE déclaré', 'Lieu dit', 'Libellé usage BNPE', "Code de l'usage déclaré", 
                        'Usage déclaré', "Code du statut du volume d'eau", "Code de qualification du volume d'eau", "Date de début d'exploitation d'un ouvrage de prélèvement",
                        "Date de fin d'exploitation d'un ouvrage de prélèvement", 'Code BSS', 'Code de la zone hydrographique', 'Nom de la zone hydrographique',
                        "Code entité hydrographique cours d'eau", "Code entité hydrographique plan d'eau", "Plan d'eau non référencé", 'Information complémentaire de la ressource en eau', 
                        'Code BDRHFV1', 'Libellé entité hydrologique BDRHFV1', 'Code BDLISA', 'Libellé entité hydrologique BDLISA', 'Code de la mer','Libellé de la mer'], axis = 1)

In [19]:
df_prel.to_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/prelevements_propres.csv", index = False)

In [12]:
df_set

    Année  Volume (m3)  Commentaire
0    2008   1897726577          NaN
1    2009   2072312234          NaN
2    2010   1987930725          NaN
3    2011  19049481325          NaN
4    2012  24475202135          NaN
5    2013  18595394919          NaN
6    2014  26528892187          NaN
7    2015  28103788878          NaN
8    2016  29381273487          NaN
9    2017  29376321284          NaN
10   2018  20782010522          NaN
11   2019  30267155955          NaN
12   2020  21824792981          NaN
13   2021  32292326671          NaN
14   2022  28351666301          NaN

In [13]:
df_sg

     Année  Numéro du département Nom du département  Volume (m3)
0     2022                     77     Seine-et-Marne  15112517468
1     2022                     78           Yvelines  12357775314
2     2022                     94       Val-de-Marne    311903211
3     2022                     93  Seine-Saint-Denis    135694893
4     2022                     92     Hauts-de-Seine    124193912
..     ...                    ...                ...          ...
115   2008                     93  Seine-Saint-Denis    119423687
116   2008                     75              Paris    116104886
117   2008                     91            Essonne     91790942
118   2008                     95         Val-d'Oise     88768857
119   2008                     92     Hauts-de-Seine     20213079

[120 rows x 4 columns]

In [4]:
df_su

,Année,Nom de l'usage,Code de l'usage,Volume total (m3),Proportion (%)
0,2022,EAU TURBINEE (barrage),BAR,27072002601,95.5
1,2022,EAU POTABLE,AEP,817019047,2.9
2,2022,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,IND,248521020,0.9
3,2022,CANAUX,CAN,98366912,0.3
4,2022,ENERGIE,ENE,80249859,0.3
...,...,...,...,...,...
84,2008,EAU POTABLE,AEP,861193784,45.4
85,2008,ENERGIE,ENE,633587918,33.4
86,2008,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,IND,323965899,17.1
87,2008,CANAUX,CAN,61774486,3.3
88,2008,IRRIGATION,IRR,17204490,0.9